 @import url("https://use.typekit.net/boe5gko.css");

:root {
    
     --bg-color: #fafafa;
     --bg-dark-color: #121212;
    
     --text-color: #333236;
     --text-dark-color: #768081;
     --text-light-color: #c9c6d1;
     --text-accent: #5c5ceb;
    
}

.dark{
    
    
    background: var(--bg-dark-color);
    color: var(--text-dark-color);
    
}


body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Shapiro";
    background: var(--bg-color);
    color: var(--text-color);
    font-family: Proxima Nova, Camphor, Open Sans, Segoe UI, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    font-size:1.1em;
    line-height:1.5em;
    
}


#container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
    box-sizing: border-box;
    padding:1em;
}

.box{
    
    
}

.box.box-80{
    width:80vw;
}

/* LISTS */

li{
    line-height:1.4em;
}

h1, h2, h3, h4, h5, h6{
    margin:1em 0 0 0;
}

p{
    
}


/* TEXT */
mark{
    background:var(--text-light-color);
    padding:0 .2em 0 .2em;
}

a{
    color: 
}